<form action='/data/create' method = "POST" class="card bg-dark text-light" >
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="Firstname">Write your firstname:</label>
            <input type = "text" name = "first_name" placeholder="Firstname" class="form-control rounded-0 bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Firstname">Write your lastname:</label>
            <input type = "text" name = "last_name" placeholder="Lastname" class="form-control rounded-0 bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Firstname">Write your city:</label>
            <input type = "text" name = "city" placeholder="City" class="form-control rounded-0 bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Firstname">Write your address:</label>
            <input type = "text" name = "address" placeholder="Address" class="form-control rounded-0 bg-dark border-0 text-white"/>
        </div>
        <div class="mb-3">
            <label for="Firstname">Write your salary:</label>
            <input type = "integer" name = "salary" placeholder="Salary" class="form-control rounded-0 bg-dark border-0 text-white"/>
        </div>
        <button class="btn btn-danger">Submit</button>
    </div>
</form>